<h3>Booking Details </h3>

 
    <p><%= @booking.id %></p>         
    <p> <%= @booking.price %></p>    
    <p> <%= @booking.flight.arrival_airport.code %></p>  
    <p> <%= @booking.flight.departure_airport.code %></p> 
    <p> <%= @booking.flight.duration %></p> 
    <p> <%= @booking.passanger.name %></p> 
  
  
 